:root {
  --cinza-mais-escuro: #121212;  /* Fundo geral */
  --cinza-escuro:      #1e1e1e;  /* Container ou header */
  --cinza-medio:       #2b2b2b;  /* Borda, hover, contraste leve */
  --cinza-claro:       #b0b0b0;  /* Texto principal */
  --cinza-mais-claro:  #e0e0e0;  /* Texto claro, links hover */
  --branco:            #ffffff;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: var(--cinza-mais-escuro);
  color: var(--cinza-claro);
  font-family: Arial, sans-serif;
}

header {
  background-color: var(--cinza-escuro);
  padding: 10px 0;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  position: top;
  top: 0;
  z-index: 100;
}

h1 {
  color: var(--cinza-mais-claro);
  margin-bottom: 20px;
}

nav {
  font-size: 1.1em;
}

nav a {
  color: var(--cinza-claro);
  text-decoration: none;
  margin: 0 10px;
  cursor: pointer;
}

nav a:hover {
  color: var(--cinza-mais-claro);
  text-decoration: underline;
}

.section {
  display: none;
}

.section.active {
  display: block;
}

.section.active h2{
  text-align: center;
}

ul {
  padding-left: 20px;
}

form input[type="text"],
form input[type="email"],
form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 4px;
  margin-bottom: 16px;
  border: 1px solid var(--cinza-medio);
  border-radius: 4px;
  background-color: var(--cinza-mais-escuro);
  color: var(--branco);
}

form input[type="submit"] {
  background-color: var(--cinza-claro);
  color: var(--cinza-mais-escuro);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

form input[type="submit"]:hover {
  background-color: var(--cinza-mais-claro);
}

.container {
  width: 50vw;
  height: calc(80vh - 50px);
  margin: 30px auto 0 auto;
  padding: 20px;
  background-color: var(--cinza-escuro);
  border-radius: 2px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.container-titles {
  font-size: 1.5rem;
  margin: 10px auto 40px auto;
}

.container-text-section {
  text-indent: 1em;
  margin: 0 auto;
  padding: 30px;
  color: var(--cinza-claro);
  border-radius: 8px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5;
  font-size: 1.2rem;
}

.container-text-section p {
  padding: 10px;
}
